---
import Layout from "../layouts/Layout.astro";
import JoffreColono from "../components/JoffreColono.astro";
import LeoColono from "../components/LeoColono.astro";
---

<Layout title="Welcome to Astro." />
<section>
    <JoffreColono />
</section>
<section>
    <LeoColono />
</section>

</Layout>
