---
import Layout from "../layouts/Layout.astro";
import JoffreColono from "../components/JoffreColono.astro";
import LeoColono from "../components/LeoColono.astro";
import JDColono from "../components/JDColono.astro";
import MisionVisionObjetivo from "../components/MisionVisionObjetivo.astro";
import Sebas from "../components/Sebas.astro";
import File1 from '../components/File1.astro';
import File2 from '../components/File2.astro';
---

<Layout title="Welcome to Astro." />
<section>
    <Sebas/>
</section>
<section>
    <MisionVisionObjetivo />
</section>
<section>
    <JDColono />
</section>
<section id="joffrecolono">
    <JoffreColono />
</section>
<section id="leocolono">
    <LeoColono />
</section>
<section>
    <File1/>
</section>
<section>
    <File2/>
</section>

</Layout>
