---
import Layout from '@/layouts/Layout.astro';
import Cards from '@/components/Cards.astro';

---

<Layout title="Cafe-birra">
	
		<!-- Contenedor principal de la sección -->
<div class="section-background flex flex-col  items-center justify-center w-screen  
              mt-10 h-[725px] border-2 border-black">
	<section class="title-container flex flex-col items-center">
		<p class="subtitle ">Market</p>
		<h2 class="title text-5xl ">Conoce nuestros productos</h2>
	</section>

<section class="section-background flex flex-col md:flex-row">
	<Cards
	  title=""
	  subtitle="Café el Colono"
	  description="Del valle de Oxapampa y Huancabamba, con la selección de los mejores granos cultivados les traemos el Café Premium 'El Colono'."
	  imageSrc="card1img.svg"
	  logoSrc="card1logo.svg"
	  link="/siguiente seccion"
	/>
  
	<!-- Tarjeta de Cerveza Artesanal Schaus Bier -->
	<Cards
	  title=""
	  subtitle="Cerveza Artesanal Schaus Bier"
	  description="Desde Pozuzo, con la receta Austriaca y Alemana llega a nosotros la cerveza Artesanal Schaus Bier, con sus diversos sabores."
	  imageSrc="card2img.svg"
	  logoSrc="card2logo.svg"
	  link="/siguiente seccion"
	/>
</section>
  </div>

  
  <style>
	.section-background {
	  background-color: #3E3C3E; /* Color de fondo de la sección */
	  padding: 2rem 0;
	  display: flex;
	  justify-content: center;
	  gap: 2rem; /* Espaciado entre las tarjetas */
	}
	.subtitle {
		font-family: var(--font-serif);
		color: #FF8730;
	}
	.title {
		font-family: var(--font-serif);
		color: #ffffff;
	}
  </style>

	</main>
</Layout>
