---
import 'animate.css';
---

<div >
    <section class="flex flex-row justify-center pb-4">
        <section class="p-[10px] flex-col justify-center">
            <div class="w-[300px] h-[320px] ">
                <img src="pilsener.png" class="cursor-pointer transition-all ease-in-out duration-1000 hover:scale-110 rounded-sm"> 
            </div>
            <div>
                <a href="#" class="bg-orange-500 cursor-pointer transition hover:bg-[#56735C] px-8 py-4 text-center text-white rounded-sm">Comprar</a>
            </div>
        </section>
        <section class="p-[10px] ">
            <img src="golden.png" class="w-[300px] h-[320px] cursor-pointer transition-all ease-in-out duration-1000 hover:scale-110 rounded-sm">
        </section>
        <section class="p-[10px]">
            <img src="vienna.png" class="w-[300px] h-[320px] cursor-pointer transition-all ease-in-out duration-1000 hover:scale-110 rounded-sm">
        </section>
        <section class="p-[10px]">
            <img src="camucamu.png" class="w-[300px] h-[320px] cursor-pointer transition-all ease-in-out duration-1000 hover:scale-110 rounded-sm">
        </section>
    </section>
</div>
<!-- averiguar sobre el RELATIVE -->