<div>
    <section class="flex flex-row justify-center">
        <section class="p-[10px]">
            <img src="passion.png" class="w-[300px] h-[320px] cursor-pointer transition-all ease-in-out duration-1000 hover:scale-110 rounded-sm">
        </section>
        <section class="p-[10px]">
            <img src="norton.png" class="w-[300px] h-[320px] cursor-pointer transition-all ease-in-out duration-1000 hover:scale-110 rounded-sm">
        </section>
        <section class="p-[10px]">
            <img src="london.png" class="w-[300px] h-[320px] cursor-pointer transition-all ease-in-out duration-1000 hover:scale-110 rounded-sm">
        </section>
    </section>
</div>