---
import Cards from "./Cards.astro";
---
<section class="section-background flex flex-col items-center justify-center w-full mt-10 h-auto border-black">
  <!-- Título -->
  <section class="title-container animated-title text-center">
    <p class="subtitle text-xl md:text-2xl">Market</p>
    <h2 class="title text-3xl md:text-5xl">Conoce nuestros productos</h2>
  </section>

  <!-- Contenedor de tarjetas -->
  <section class="flex flex-col md:flex-row items-center justify-center w-full max-w-5xl mx-auto p-4 gap-8">
    <!-- Tarjeta de Café -->
    <Cards
      title=""
      subtitle="Café el Colono"
      description="Del valle de Oxapampa y Huancabamba, con la selección de los mejores granos cultivados les traemos el Café Premium 'El Colono'."
      imageSrc="card1img.svg"
      logoSrc="card1logo.svg"
      link="#joffrecolono"
      class="w-full sm:max-w-full md:max-w-md" 
    />
    <!-- Tarjeta de Cerveza -->
    <Cards
      title=""
      subtitle="Cerveza Artesanal Schaus Bier"
      description="Desde Pozuzo, con la receta Austriaca y Alemana llega a nosotros la cerveza Artesanal Schaus Bier, con sus diversos sabores."
      imageSrc="card2img.svg"
      logoSrc="card2logo.svg"
      link="#leocolono"
      class="w-full sm:max-w-full md:max-w-md" 
    />
  </section>
  
</div>

<style>
.section-background {
  background-color: #3E3C3E;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.subtitle {
  font-family: var(--font-serif);
  color: #FF8730;
}
.title {
  font-family: var(--font-serif);
  color: #ffffff;
}

/* Animacion del titulo */
@keyframes slideInBounce {
  0% {
    transform: translateX(100%); /* Empieza fuera de la pantalla a la derecha */
    opacity: 0;
  }
  50% {
    transform: translateX(0); /* Llega al centro */
    opacity: 1;
  }
  60% {
    transform: translateX(-10px); /* Primer rebote, menor intensidad */
  }
  80% {
    transform: translateX(5px); /* Segundo rebote, aún menor intensidad */
  }
  100% {
    transform: translateX(0); /* Termina en su posición final */
  }
}

/* Aplicar la animación */
.animated-title {
  animation: slideInBounce 1s ease-out;
  animation-delay: 0.5s;
}
</style>
