<div class="flex justify-center items-center w-screen h-[764px] bg-slate-50">
  <section class="w-[620px] h-[620px] p-12">
    <h1
      class="text-6xl mb-6 font-semibold"
      style="animation: slideInLeft 0.5s ease-out forwards;"
    >
      Café El Colono
    </h1>
    <div class="mb-5">
      <p
        class="mb-3 animate-slide-in-left"
        style="animation: slideInLeft 0.5s ease-out forwards;"
      >
        Del valle de Oxapampa y Huancabamba, con la selección de los mejores
        granos cultivados les traemos el Café Premium "El Colono".
      </p>
    </div>

    <div
      class="h-[92px] flex"
      style="animation: slideInRight 0.4s ease-out forwards, smoothVibrate 0.4s ease-in-out 0.4s;"
    >
      <div class="pt-1 pr-5">
        <img class="w-[46px]" src="/icono_check.png" alt="" />
      </div>
      <div>
        <h3 class="text-3xl font-semibold text-green-900 mt-1">
          Sabor Original
        </h3>
        <p>
          Café El Colono ha sabido preservar un estilo artesanal con su fórmula
          clásica, consevada por generaciones.
        </p>
      </div>
    </div>

    <div
      class="h-[92px] flex"
      style="animation: slideInRight 0.5s ease-out forwards, smoothVibrate 0.4s ease-in-out 0.5s;"
    >
      <div class="pt-1 pr-5">
        <img class="w-[46px]" src="/icono_check.png" alt="" />
      </div>
      <div>
        <h3 class="text-3xl font-semibold text-green-900 mt-1">Café Premium</h3>
        <p>
          Usted está bebiendo un Café excepcional con los más finos y selectos
          granos del valle de Oxapampa.
        </p>
      </div>
    </div>

    <div
      class="h-[92px] flex"
      style="animation: slideInRight 0.6s ease-out forwards, smoothVibrate 0.4s ease-in-out 0.6s;"
    >
      <div class="pt-1 pr-5">
        <img class="w-[30.36px]" src="/icono_check.png" alt="" />
      </div>
      <div>
        <h3 class="text-3xl font-semibold text-green-900 mt-1">
          100% Orgánico
        </h3>
        <p>Es un producto libre de componentes químicos y artificiales.</p>
      </div>
    </div>

    <div
      class="h-[92px] pt-12 flex w-[347px]"
      style="animation: slideInLeft 0.5s ease-out forwards;"
    >
      <a
        href="#"
        class="bg-orange-400 px-8 py-4 text-white rounded flex items-center justify-center gap-1"
        >Comprar Aquí

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.2em"
          height="1.2em"
          viewBox="0 0 16 16"
          ><path
            fill="white"
            fill-rule="evenodd"
            d="M1.25 8A.75.75 0 0 1 2 7.25h10.19L9.47 4.53a.75.75 0 0 1 1.06-1.06l4 4a.75.75 0 0 1 0 1.06l-4 4a.75.75 0 1 1-1.06-1.06l2.72-2.72H2A.75.75 0 0 1 1.25 8"
            clip-rule="evenodd"></path></svg
        >
      </a>
    </div>
  </section>

  <section>
    <img
      src="/imgColono.png"
      alt="Imagen del café"
      class="w-[620px] p-1 animate-zoom-in"
    />
  </section>
</div>

<style>
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Animación de "slide-in-right" */
  @keyframes slideInRight {
    0% {
      transform: translateX(300%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Animación de vibración horizontal suave */
  @keyframes smoothVibrate {
    0%,
    100% {
      transform: translateX(0);
    }
    20%,
    60% {
      transform: translateX(-3px); /* Desplazamiento reducido para suavizar */
    }
    40%,
    80% {
      transform: translateX(3px);
    }
  }
</style>
