<div class="flex items-center justify-center">
  <section class="">
    <h1>Café El Colono</h1>
    <span
      >Del valle de Oxapampa y Huancabamba, con la selección de los mejores
      granos cultivados les traemos el Café Premium "El Colono".</span
    >
    <ul>
      <li>
        <h3>Sabor Original</h3>
        <span
          >Café El Colono ha sabido preservar un estilo artesanal con su fórmula
          clásica, consevada por generaciones.</span
        >
      </li>
      <li>
        <h3>Café Premium</h3>
        <span
          >Usted está bebiendo un Café excepcional con los más finos y selectos
          granos del valle de Oxapampa.</span
        >
      </li>
      <li>
        <h3>100% Orgánico</h3>
        <span>Es un producto libre de componentes químicos y artificiales.</span
        >
      </li>
    </ul>
    <a href="#">Comprar Aquí</a>
  </section>

  <section>
    <img src="/imgColono.png" alt="Imagen del café" class="w-[500px]" />
  </section>
</div>
