---
import 'animate.css';
---

<div class="flex flex-row grid-cols-1 justify-center items-center mt-20 max-lg:flex-col">
    <div class="animate__animated animate__fadeInLeft">
        <section class="w-[488.42px] p-4">
            <p class="text-6xl text-[#3E3C3E] pb-4">Cervezas</p>
            <p class="text-6xl text-[#3E3C3E] pb-4">Artesanales</p>
            <p class="text-6xl pb-[23px] text-[#3E3C3E]">Schaus Bier</p>
            <h1 class="pb-[19px]">Contamos con 7 variedades de cervezas artesanales.</h1>
                <section class="flex flex-row grid-cols-1">
                <img src="image 4.png" class="h-[26px] pr-2 pl-2">
                <p class="pb-[19px]">Cerveza Artesanal Passion Fruit</p>
                </section>
                <section class="flex flex-row">
                <img src="image 4.png" class="h-[26px] pr-2 pl-2">
                <p class="pb-[19px]">Cerveza Artesanal Camu Camu</p>
                </section>
                <section class="flex flex-row">
                <img src="image 4.png" class="h-[26px] pr-2 pl-2">
                <p class="pb-[19px]">Cerveza Artesanal Pilsner</p>
                </section>
                <section class="flex flex-row">
                <img src="image 4.png" class="h-[26px] pr-2 pl-2">
                <p class="pb-[19px]">Cerveza Artesanal Vienna</p>
                </section>
                <section class="flex flex-row">
                <img src="image 4.png" class="h-[26px] pr-2 pl-2">
                <p class="pb-[19px]">Cerveza Artesanal Golden Ale</p>
                </section>
                <section class="flex flex-row">
                <img src="image 4.png" class="h-[26px] pr-2 pl-2">
                <p class="pb-[19px]">Cerveza Artesanal Norton IPA</p>
                </section>
                <section class="flex flex-row">
                <img src="image 4.png" class="h-[26px] pr-2 pl-2">
                <p class="pb-[19px]">Cerveza Artesanal London Stout</p>
                </section>	
                <section class="flex items-center">
                    <a href="#" class="bg-orange-500 cursor-pointer transition hover:bg-[#333]  px-8 py-4 text-center text-white rounded-sm">Comprar Aquí</a>	
                </section>	
        </section>
    </div>
    <div class="animate__animated animate__zoomIn ">
        <section>
            <img src="/botellas.png" class="w-[691.56px] p-11 max-lg:w-full">
        </section>
     </div>			
</div>
