---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fontsource/roboto';
import '@fontsource-variable/rubik';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="TODO" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="font-sans bg-white">
		<slot /> <!-- Esto permitirá que el contenido del layout se muestre -->
	</body>
</html>

<style is:global>
	/* Aplica la fuente sans (Rubik Variable) de forma global */
	:root {
		--font-sans: 'Rubik Variable', sans-serif;
		--font-serif: 'Roboto', serif;
	}

	html {
		font-family: var(--font-sans);
		background-color: #ffffff;
	}
</style>
